/******************************************************************
Site Name:
Author:

Stylesheet: Typography

******************************************************************/
$font-std: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
$font-fancy: "Oxygen", "Segoe UI", Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
//$font-fancy: "Poppins", "Segoe UI", Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
