<!DOCTYPE html>
<html lang="en-gb">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- prettier-ignore -->
    {{ $options := (dict "targetPath" "style.css" "outputStyle" "compressed" ) }}
    <!-- prettier-ignore -->
    {{ $style := resources.Get "scss/style.scss" | resources.ToCSS $options | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink }}" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&display=swap" rel="stylesheet" />
    <!-- prettier-ignore -->
    <title>{{ .Title }} &bull; Netlify email test</title>
    <meta name="description" content="{{.Description}}" />
    <meta name="robots" content="{{ $.Param "robots" }}" />

    <!-- <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#4f9d20" />
    <meta name="msapplication-TileColor" content="#2b5797" /> -->
  </head>
  <body class="{{.Params.bodyclass}}">
    <header class="header" role="banner">
      <div class="inner-header wrap">
        <p>Header</p>
      </div>
    </header>
    <main id="content">
